@import 'variables' ;

.appbar-box {
  align-items: flex-end;
  background-color: $primary !important;

  .app-menu {
    font-size: 1.5vh;
  }
}

.eUeqdG {
  white-space: pre-line !important;
  word-wrap: break-word !important;
}