@import 'variables' ;

.product-container {
  display: flex;
  justify-content: center;

  .mat-paper {
    width: 80%;
    margin: 6vh 3vh 3vh 3vh;
    padding: 3vh;

    .mat-card-header{
      display: flex;
      flex-direction: row;
      padding: 0px;
      margin-top: 2rem;

      .card-heading {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        .add-button {
          align-self: flex-end;
        }
      }
    }

    .product-heading {
      align-self: flex-start;
    }
  }
}

.delete-icon {
  color: $error;
  cursor: pointer
}

.edit-icon {
  color: $primary;
  margin-left: 1rem;
  cursor: pointer;
}

.add-product-container {
  .mat-paper {
    margin-top: 3rem;

    .upload-btn {
      margin-top: 1rem !important;
    }
  }
}

@media screen and (max-width: 450px) {
  .product-container {
    width: 95% !important;
  }

  .mat-paper {
    box-shadow: none !important;
    width: 94% !important;
  }
}

.add-product-container {
  .mat-paper {
    margin-top: 5vh;

    .upload-btn {
      margin-top: 1rem !important;
    }
  }
}
