$back: #fcfbfa;
$primary: #01225a;

.inventory-container {
  display: flex;
  justify-content: center;
  background-color: $back;

  .mat-paper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 78%;
    padding: 8vh;

    .mat-card {
      width: 100%;
    }

    .add-button {
      background-color: $primary;
    }
  }
}
