@import 'variables' ;

.product-container {
  display: flex;
  justify-content: center;

  .mat-paper {
    width: 80%;
    margin: 6vh 3vh 3vh 3vh;
    padding: 3vh;

    .mat-card-header{
      display: flex;
      flex-direction: row;
      padding: 0px;
      margin-top: 2rem;

      .card-heading {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        .add-button {
          align-self: flex-end;
        }
      }
    }

    .product-heading {
      align-self: center;
      color: $primary;
    }
  }
}

@media screen and (max-width: 450px) {
  .product-container {
    width: 95% !important;
  }

  .mat-paper {
    box-shadow: none !important;
    width: 94% !important;
  }
}
