@import 'variables' ;

.mat-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;

  .mat-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .product-dropdown {
      margin-top: 1rem;
      width: 45vh;
      min-height: 2.5rem;
    }

    .text-field {
      margin-top: 1rem;
      width: 45vh;
    }

    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    .warn-typography {
      color: $error;
      align-self: flex-start;
      margin-top: 5px;
    }

    .submit-button {
      width: 45vh;
      margin-top: 2rem;
      background-color: $primary;
      text-transform: uppercase;
    }

    .submit-button:disabled {
      background-color: $disable;
    }

    .submit-button:hover {
      background-color: $secondary;
    }

    @media screen and (max-width: 450px) {
      .text-field {
        width: 35vh;
      }

      .product-dropdown {
        width: 35vh;
      }

      .submit-button {
        width: 35vh;
      }
    }
  }
}

