@import 'variables' ;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $background;

  .mat-paper {
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 50vh;
    margin-bottom: 5rem;
  }

  .mat-card {
    align-items: center;
    justify-content: center;

    .heading {
      color: $primary;
      font-weight: 500;
      text-transform: capitalize;
    }
  }

  @media screen and (max-width: 450px) {
    .container {
      background-color: $white;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .mat-paper {
      box-shadow: none;
      padding: 0px;
      width: 90%;
    }
  }
}